.page-content {
  font-family: "Voltaire", sans-serif;
}

/* A-Z Styles */
.a-z-title {
  margin-top: 30px;
  padding-left: 40px;
  text-align: left;
  font-family: "Voltaire", sans-serif;
}

.book-section {
  padding-left: 40px;
}

.review {
  text-align: center;
}

.review > a > img {
  height: 300px !important;
  max-width: 100% !important;
  margin: 20px !important;
}

/* Genre Styles */
.genre-page-title {
  margin-top: 30px;
  padding-left: 40px;
  text-align: left;
  font-family: "Voltaire", sans-serif;
}

.genre-title {
  padding-left: 40px;
}
